* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: black
}


.game-container {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
}

.game-card {
    width: calc(14.285% - 10px);
    height: calc(23.33% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: .5s;
}

 .face-up, .face-down {
    width: 100%;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    position:absolute;
    margin-top: 15%;
    background-color: #42f578;
    backface-visibility: hidden;
 }

 .face-up {
    transform: rotateY(180deg);
 }

 .game-card:active {
    transform: scale(.87);
    transition: .2s;
 }

 .game-card.flip {
    transform: rotateY(180deg);
 }
 
