@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Silkscreen&display=swap');

* {
    box-sizing: border-box;
}

/* main body and type styling */
body {
    height: 100vh;
    display: flex;
    background: black
}

.header {
    max-width: 600px;
    margin: auto;
    margin-bottom: 500px;
    text-align: center;
    margin-top: 50px;

}

h1 {
    color: #42f578;
    font-size: 3em;
    font-family: 'Silkscreen', cursive;
    position: relative;
}


.rule {
    color: #ffffff;
    font-size: 2em;
    font-family: 'Chakra Petch', sans-serif;
    position: relative;
    margin: auto;
    text-align: center;
}

#shuffle-button {
    font-family: 'Silkscreen', cursive;
    position: absolute;
    size: 300px;
    position: relative;
    background-color: #42f578;
}

#countdown {
    font-family: 'Silkscreen', cursive;
    color: #42f578;
    font-size: 3em;
}

/* card game styling */
.game-container {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
    box-sizing: border-box;
    margin-right: 200px;
}

.game-card {
    width: calc(14.285% - 10px);
    height: calc(23.33% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: .5s;
}

 .face-up, .face-down {
    width: 100%;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    position:absolute;
    margin-top: 15%;
    background-color: #42f578;
    backface-visibility: hidden;
 }

 .face-up {
    transform: rotateY(180deg);
 }

 .game-card:active {
    transform: scale(.87);
    transition: .2s;
 }

 .game-card.flip {
    transform: rotateY(180deg);
 }

 /* responsive styling */

 @media screen and (max-width:1457px) {
    .header {
        max-width: 600px;
        margin: auto;
        margin-bottom: 500px;
        text-align: center;
        margin-top: 150px;
    
    }
    
    h1 {
        color: #42f578;
        font-size: 2em;
        font-family: 'Silkscreen', cursive;
        position: relative;
    }
    
    
    .rule {
        color: #ffffff;
        font-size: 1em;
        font-family: 'Chakra Petch', sans-serif;
        position: relative;
        margin: auto;
        text-align: center;
    }
    
    #shuffle-button {
        font-family: 'Silkscreen', cursive;
        position: absolute;
        size: 300px;
        position: relative;
        background-color: #42f578;
    }
    
    #countdown {
        font-family: 'Silkscreen', cursive;
        color: #42f578;
        font-size: 2em;
    }

    .game-container {
        width: 540px;
        height: 540px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        perspective: 1000px;
        box-sizing: border-box;
    }
 }

 @media screen and (max-width:1050px) {
    .header {
        max-width: 600px;
        margin: auto;
        margin-bottom: 500px;
        text-align: center;
        margin-top: 10px;
    
    }
    
    h1 {
        color: #42f578;
        font-size: 2em;
        font-family: 'Silkscreen', cursive;
        position: relative;
    }
    
    
    .rule {
        color: #ffffff;
        font-size: 1em;
        font-family: 'Chakra Petch', sans-serif;
        position: relative;
        margin: auto;
        text-align: center;
    }
    
    #shuffle-button {
        font-family: 'Silkscreen', cursive;
        position: absolute;
        size: 300px;
        position: relative;
        background-color: #42f578;
    }
    
    #countdown {
        font-family: 'Silkscreen', cursive;
        color: #42f578;
        font-size: 2em;
    }
    .game-container {
        width: 540px;
        height: 540px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        perspective: 1000px;
        box-sizing: border-box;
        position: absolute;
        margin-top: 390px;
    }



    

 }